<div id="main-content" class="blog-page">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-12">
                    <div class="d-flex">
                        <h2>Blog List</h2>
                        <button type="button" [routerLink]="['create']" class="btn btn-dark ml-auto btn-sm">Add New</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-10 col-md-10 left-box">

                <div class="card single_post">
                    <div class="body">
                        <div class="blog-top d-flex clearfix">
                            <div class="short-name">
                                <span>JD</span>
                            </div>
                            <h4 class="name">John Doe</h4>
                            <h5 class="time">2h</h5>
                        </div>
                        <h3><a href="javascript:void(0)">All photographs are accurate</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a [routerLink]="['detail']" class="btn btn-outline-secondary">Continue Reading</a>
                        </div>
                        <ul class="stats">
                            <li><a href="javascript:void(0);">General</a></li>
                            <li><a href="javascript:void(0);" class="fas fa-heart">28</a></li>
                            <li><a href="javascript:void(0);" class="fas fa-comment">128</a></li>
                        </ul>
                    </div>
                </div>

                <div class="card single_post">
                    <div class="body">
                        <div class="blog-top d-flex clearfix">
                            <div class="short-name">
                                <span>JD</span>
                            </div>
                            <h4 class="name">John Doe</h4>
                            <h5 class="time">2h</h5>
                        </div>
                        <h3><a href="javascript:void(0)">All photographs are accurate</a></h3>
                        <div class="img-post">
                            <img class="d-block img-fluid" src="../../../assets/blog.jpg"
                                alt="First slide">
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a [routerLink]="['detail']" class="btn btn-outline-secondary">Continue Reading</a>
                        </div>
                        <ul class="stats">
                            <li><a href="javascript:void(0);">General</a></li>
                            <li><a href="javascript:void(0);" class="fas fa-heart">28</a></li>
                            <li><a href="javascript:void(0);" class="fas fa-comment">128</a></li>
                        </ul>
                    </div>
                </div>

                <div class="card single_post">
                    <div class="body">
                        <div class="blog-top d-flex clearfix">
                            <div class="short-name">
                                <span>JD</span>
                            </div>
                            <h4 class="name">John Doe</h4>
                            <h5 class="time">2h</h5>
                        </div>
                        <h3><a href="javascript:void(0)">All photographs are accurate</a></h3>
                        <div class="img-post">
                            <img class="d-block img-fluid" src="../../../assets/blog.jpg"
                                alt="First slide">
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a [routerLink]="['detail']" class="btn btn-outline-secondary">Continue Reading</a>
                        </div>
                        <ul class="stats">
                            <li><a href="javascript:void(0);">General</a></li>
                            <li><a href="javascript:void(0);" class="fas fa-heart">28</a></li>
                            <li><a href="javascript:void(0);" class="fas fa-comment">128</a></li>
                        </ul>
                    </div>
                </div>

                <div class="card single_post">
                    <div class="body">
                        <div class="blog-top d-flex clearfix">
                            <div class="short-name">
                                <span>JD</span>
                            </div>
                            <h4 class="name">John Doe</h4>
                            <h5 class="time">2h</h5>
                        </div>
                        <h3><a href="javascript:void(0)">All photographs are accurate</a></h3>
                        <div class="img-post">
                            <img class="d-block img-fluid" src="../../../assets/blog.jpg"
                                alt="First slide">
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a [routerLink]="['detail']" class="btn btn-outline-secondary">Continue Reading</a>
                        </div>
                        <ul class="stats">
                            <li><a href="javascript:void(0);">General</a></li>
                            <li><a href="javascript:void(0);" class="fas fa-heart">28</a></li>
                            <li><a href="javascript:void(0);" class="fas fa-comment">128</a></li>
                        </ul>
                    </div>
                </div>

                <ul class="pagination pagination-primary justify-content-center">
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                </ul>
            </div>
            
        </div>

    </div>
</div>