
        <div class="container">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
              <form> 
                  <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Product Name">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Price</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Product Price">
                  </div>
                  <div class="form-group">
                    <label for="inputDescription">Description</label>
                    <textarea class="form-control rounded-1" id="exampleFormControlTextarea2" rows="4"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="inputDescription">Quantity</label>
                    <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-6">
                    <label for="input">Brand</label>
                    <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    </div>
                    <div class="col-md-6">
                      <label for="inputColor">Type</label>
                    <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-6">
                    <label for="input">Size</label>
                    <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    </div>
                    <div class="col-md-6">
                      <label for="inputColor">Color</label>
                    <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputDescription">Inventory Status</label><br>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                      <label class="custom-control-label" for="customRadioInline1">In Stock</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                      <label class="custom-control-label" for="customRadioInline2">Out of Stock</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-row">
                    <div class="col-md-6">
                    <label for="inputDescription">Upload Front Image</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                    </div>
                    <div class="col-md-6">
                      <label for="inputDescription">Upload Back Image</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                    </div>
                    </div>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-dark">Submit</button>
                  <br><br><br><br><br><br>
                </form>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
    
    
    
        