<div class="row mb-5">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <div class="block shadow">
  <div class="block-title">
  <h2><strong>Detail</strong></h2>
  </div>
  <h4><strong>Jonathan Taylor</strong></h4>
  <h5>Product Name: <span class="txt-clr">Sneakers</span> </h5>
  <h5>Description: <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, hic.</p> </h5>
  <h5>Up Size:<span class="txt-clr">12</span></h5>
  <h5>Price Expected: <span class="txt-clr">1234$</span></h5>
  <h5>Address</h5>
  <address>
    Sunset Str 620<br>
    Paris<br>
    Germany, 21-842<br><br>
    <i class="fa fa-phone"></i> + 92 123 456 789<br>
    </address>
  </div>
  </div>
  </div>
        
    
    
    
        