<section>
    <div class="container-fluid">
        <div class="row mb-10">
          <div class="col-xl-12 col-lg-12 col-md-12 ml-auto">
              <div class="row">
                  <div class="col-xl-12 col-12 mb-4">
                      <h3 class="text-muted text-center mb-3">Products</h3>
                      <table class="table shadow bg-light text-center">
                          <thead>
                              <tr class="text-muted">
                                  <th>#</th>
                                  <th>Name</th>
                                  <th>Price</th>
                                  <th>Date</th>
                                  <th>Detail</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="text-muted">
                                  <th>1</th>
                                  <td>Sneakers</td>
                                  <td>$500</td>
                                  <td>25/1/2019</td>
                                  <td><button type="button" 
                                      class="btn btn-info btn-sm">View</button></td>
                              </tr>
                              <tr class="text-muted">
                                  <th>2</th>
                                  <td>Sneakers</td>
                                  <td>$500</td>
                                  <td>25/1/2019</td>
                                  <td><button type="button" 
                                      class="btn btn-info btn-sm">View</button></td>
                              </tr>
                              <tr class="text-muted">
                                  <th>3</th>
                                  <td>Sneakers</td>
                                  <td>$500</td>
                                  <td>25/1/2019</td>
                                  <td><button type="button" 
                                      class="btn btn-info btn-sm">View</button></td>
                              </tr>
                              <tr class="text-muted">
                                  <th>4</th>
                                  <td>Sneakers</td>
                                  <td>$500</td>
                                  <td>25/1/2019</td>
                                  <td><button type="button" 
                                      class="btn btn-info btn-sm">View</button></td>
                              </tr>
                              <tr class="text-muted">
                                  <th>5</th>
                                  <td>Sneakers</td>
                                  <td>$500</td>
                                  <td>25/1/2019</td>
                                  <td><button type="button" 
                                      class="btn btn-info btn-sm">View</button></td>
                              </tr>
                          </tbody>
                      </table>
                      <!-- Pagination -->
                      <nav>
                          <ul class="pagination justify-content-center">
                              <li class="page-item">
                                  <a href="" class="page-link py-2 px-3">
                                      <span>&laquo;</span>
                                  </a>

                              </li>
                              <li class="page-item active">
                                  <a href="" class="page-link py-2 px-3">
                                      1
                                  </a>

                              </li>
                              <li class="page-item">
                                  <a href="" class="page-link py-2 px-3">
                                      2
                                  </a>

                              </li>
                              <li class="page-item">
                                  <a href="" class="page-link py-2 px-3">
                                      3
                                  </a>

                              </li>
                              <li class="page-item">
                                  <a href="" class="page-link py-2 px-3">
                                      <span>&raquo;</span>
                                  </a>

                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
        </div>
    </div>
</section>