<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 ml-auto">
              <div class="row mb-5">
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2 text-center card-common">
                        <div class="widget-extra themed-background">
                        <h4 class="widget-content-light"><strong>Add New</strong> Products</h4>
                        </div>
                    <div class="widget-extra-full"><span class="h2 animation-expandOpen">3</span></div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2 text-center card-common">
                        <div class="widget-extra themed-background">
                        <h4 class="widget-content-light"><strong>Orders</strong> Today</h4>
                        </div>
                    <div class="widget-extra-full"><span class="h2 animation-expandOpen">120</span></div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2 text-center card-common">
                        <div class="widget-extra themed-background">
                        <h4 class="widget-content-light"><strong>Orders</strong> This Month</h4>
                        </div>
                    <div class="widget-extra-full"><span class="h2 animation-expandOpen">3.20</span></div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2 text-center card-common">
                        <div class="widget-extra themed-background">
                        <h4 class="widget-content-light"><strong>Orders</strong> Last Month</h4>
                        </div>
                    <div class="widget-extra-full"><span class="h2 animation-expandOpen">8.567</span></div>
                    </a>
                </div>                  
              </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row mb-10">
          <div class="col-xl-12 col-lg-12 col-md-12 ml-auto">
              <div class="row">
                <div class="col-xl-12 col-12 mb-4">
                    <div class="d-flex">
                <h3>Products</h3>
                <button type="button" [routerLink]="['add']" class="btn btn-dark ml-auto btn-sm">Add New</button>
            </div>
            </div>
              </div>
              <div class="row">
                  <div class="col-xl-12 col-12 mb-4">
                      <table class="table shadow bg-light text-center">
                          <thead>
                              <tr class="text-muted">
                                  <th>#</th>
                                  <th>Name</th>
                                  <th>Price</th>
                                  <th>Date</th>
                                  <th>Detail</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="text-muted">
                                  <th>1</th>
                                  <td>Sneakers</td>
                                  <td>$500</td>
                                  <td>25/1/2019</td>
                                  <td><button type="button" 
                                      class="btn btn-dark btn-sm">View</button></td>
                              </tr>
                              <tr class="text-muted">
                                  <th>2</th>
                                  <td>Sneakers</td>
                                  <td>$500</td>
                                  <td>25/1/2019</td>
                                  <td><button type="button" 
                                      class="btn btn-dark btn-sm">View</button></td>
                              </tr>
                              <tr class="text-muted">
                                  <th>3</th>
                                  <td>Sneakers</td>
                                  <td>$500</td>
                                  <td>25/1/2019</td>
                                  <td><button type="button" 
                                      class="btn btn-dark btn-sm">View</button></td>
                              </tr>
                              <tr class="text-muted">
                                  <th>4</th>
                                  <td>Sneakers</td>
                                  <td>$500</td>
                                  <td>25/1/2019</td>
                                  <td><button type="button" 
                                      class="btn btn-dark btn-sm">View</button></td>
                              </tr>
                              <tr class="text-muted">
                                  <th>5</th>
                                  <td>Sneakers</td>
                                  <td>$500</td>
                                  <td>25/1/2019</td>
                                  <td><button type="button" 
                                      class="btn btn-dark btn-sm">View</button></td>
                              </tr>
                          </tbody>
                      </table>
                      <!-- Pagination -->
                      <nav>
                          <ul class="pagination justify-content-center">
                              <li class="page-item">
                                  <a href="" class="page-link py-2 px-3">
                                      <span>&laquo;</span>
                                  </a>

                              </li>
                              <li class="page-item active">
                                  <a href="" class="page-link py-2 px-3">
                                      1
                                  </a>

                              </li>
                              <li class="page-item">
                                  <a href="" class="page-link py-2 px-3">
                                      2
                                  </a>

                              </li>
                              <li class="page-item">
                                  <a href="" class="page-link py-2 px-3">
                                      3
                                  </a>

                              </li>
                              <li class="page-item">
                                  <a href="" class="page-link py-2 px-3">
                                      <span>&raquo;</span>
                                  </a>

                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
        </div>
    </div>
</section>