<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 ml-auto">
              <div class="row mb-5">
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2 text-center card-common">
                        <div class="widget-extra themed-background bg-success">
                        <h4 class="widget-content-light"><strong>ORD.12345</strong></h4>
                        </div>
                    <div class="widget-extra-full text-success"><span class="h2 animation-expandOpen">26/01/2020</span></div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2 text-center card-common">
                        <div class="widget-extra themed-background bg-success">
                        <h4 class="widget-content-light"><i class="fab fa-paypal"></i><strong>Payment</strong></h4>
                        </div>
                    <div class="widget-extra-full text-success"><span class="h2 animation-expandOpen"> <i class="fas fa-check"></i> </span></div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2 text-center card-common">
                        <div class="widget-extra themed-background bg-warning">
                        <h4 class="widget-content-light"><i class="fa fa-archive"></i><strong>Packaging</strong></h4>
                        </div>
                    <div class="widget-extra-full text-warning"><span class="h2 animation-expandOpen"><i class="fa fa-sync-alt"></i> </span></div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2 text-center card-common">
                        <div class="widget-extra themed-background bg-clr">
                        <h4 class="widget-content-light"><i class="fa fa-truck"></i><strong>Delivery</strong></h4>
                        </div>
                        <div class="widget-extra-full text-clr"><span class="h2 animation-expandOpen"><i class="fa fa-ellipsis-h"></i></span></div>
                    </a>
                </div>                  
              </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container-fluid">
        <div class="row mb-10">
          <div class="col-xl-12 col-lg-12 col-md-12 ml-auto">
              <div class="row">
                  <div class="col-xl-12 col-12 mb-4">
                      <table class="table table-bordered shadow bg-light text-center">
                          <thead>
                              <tr class="text-muted">
                                  <th>ID</th>
                                  <th class="text-left">Product Name</th>
                                  <th>Stock</th>
                                  <th>QTY</th>
                                  <th>UNIT COST</th>
                                  <th>PRICE</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="text-muted">
                                  <th><a href="">PID.12345</a></th>
                                  <td class="text-left"><a href=""><strong>Sneakers</strong></a></td>
                                  <td>1234</td>
                                  <td>1</td>
                                  <td>$1234</td>
                                  <td>$1234</td>
                              </tr>
                              <tr class="text-muted">
                                <th><a href="">PID.12345</a></th>
                                <td class="text-left"><a href=""><strong>Sneakers</strong></a></td>
                                <td>1234</td>
                                <td>1</td>
                                <td>$1234</td>
                                <td>$1234</td>
                            </tr><tr class="text-muted">
                                <th><a href="">PID.12345</a></th>
                                <td class="text-left"><a href=""><strong>Sneakers</strong></a></td>
                                <td>1234</td>
                                <td>1</td>
                                <td>$1234</td>
                                <td>$1234</td>
                            </tr><tr class="text-muted">
                                <th><a href="">PID.12345</a></th>
                                <td class="text-left"><a href=""><strong>Sneakers</strong></a></td>
                                <td>1234</td>
                                <td>1</td>
                                <td>$1234</td>
                                <td>$1234</td>
                            </tr><tr class="text-muted">
                                <th><a href="">PID.12345</a></th>
                                <td class="text-left"><a href=""><strong>Sneakers</strong></a></td>
                                <td>1234</td>
                                <td>1</td>
                                <td>$1234</td>
                                <td>$1234</td>
                            </tr><tr class="text-muted">
                                <th><a href="">PID.12345</a></th>
                                <td class="text-left"><a href=""><strong>Sneakers</strong></a></td>
                                <td>1234</td>
                                <td>1</td>
                                <td>$1234</td>
                                <td>$1234</td>
                            </tr>
                            <tr class="text-muted">
                                <th><a href="">PID.12345</a></th>
                                <td class="text-left"><a href=""><strong>Sneakers</strong></a></td>
                                <td>1234</td>
                                <td>1</td>
                                <td>$1234</td>
                                <td>$1234</td>
                            </tr><tr class="text-muted">
                                <th><a href="">PID.12345</a></th>
                                <td class="text-left"><a href=""><strong>Sneakers</strong></a></td>
                                <td>1234</td>
                                <td>1</td>
                                <td>$1234</td>
                                <td>$1234</td>
                            </tr>                             
                          </tbody>
                      </table>
                      <!-- Pagination -->
                      <nav>
                          <ul class="pagination justify-content-center">
                              <li class="page-item">
                                  <a href="" class="page-link py-2 px-3">
                                      <span>&laquo;</span>
                                  </a>

                              </li>
                              <li class="page-item active">
                                  <a href="" class="page-link py-2 px-3">
                                      1
                                  </a>

                              </li>
                              <li class="page-item">
                                  <a href="" class="page-link py-2 px-3">
                                      2
                                  </a>

                              </li>
                              <li class="page-item">
                                  <a href="" class="page-link py-2 px-3">
                                      3
                                  </a>

                              </li>
                              <li class="page-item">
                                  <a href="" class="page-link py-2 px-3">
                                      <span>&raquo;</span>
                                  </a>

                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
        </div>
    </div>
</section>