
/* cards */

.card-common {
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
}

.card-common:hover {
    box-shadow: 2px 3px 15px #999999;
    transform: translateY(-1px);
}
.bg-clr{
    background: #888 !important;
}
.text-clr{
    color: #888 !important;
}

a.widget {
    display: block;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.widget {
    margin-bottom: 10px;
}

a {
    color: #1bbae1;
    text-decoration: none;
}
.widget .widget-extra {
    padding-top: 1px;
    padding-bottom: 1px;
    
}
.widget-extra-full {
    position: relative;
    padding: 15px;
}
.themed-background {
    background-color: #161616;
}
.widget .widget-content-light {
    color: #fff;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h4, .h4 {
    font-size: 18px;
    line-height: 1.1;
}
.widget .widget-extra-full {
    position: relative;
    padding: 15px;
}
.animation-expandOpen {
    animation-name: expandOpen;
    -webkit-animation-name: expandOpen;
    animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
}
.animation-expandOpen, .animation-slideExpandUp {
    animation-timing-function: ease-out;
    visibility: visible!important;
}
.h2 {
    font-size: 30px;
}
h2{
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    color: inherit;
    font-weight: 300;
}
.block {
    margin: 0px;
    padding: 20px 15px 1px;
    background-color: #fff;
}
.block-title {
    margin: -20px -15px 20px;
    background-color: #f9fafc;
    border-bottom: 1px solid #eaedf1;
}
.block-title h2{
    padding-left: 15px;
    padding-right: 15px;
}
.block-title h2{
    display: inline-block;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 10px 16px 7px;
    font-weight: 400;
}
h4{
    font-weight: 300;
}
.table {
    margin-bottom: 20px;
}
.label-primary {
    background-color: #1bbae1;
}
.label {
    padding: 1px 4px;
}
.label {
    font-weight: 400;
    font-size: 90%;
    border-radius: 3px;
}
.label-success {
    background-color: #27ae60;
}
.label-danger {
    background-color: #e74c3c;
}
tbody tr td {
    color: #394263 !important;
}
@media screen and (min-width: 768px){
    .widget {
    margin-bottom: 20px;
}
.block-title{
    margin-left: -15px;
    margin-right: -15px;
}
}