<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 ml-auto">
              <div class="row mb-5">
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2 text-center card-common">
                        <div class="widget-extra themed-background bg-success">
                        <h4 class="widget-content-light"><strong>ORD.12345</strong></h4>
                        </div>
                    <div class="widget-extra-full text-success"><span class="h2 animation-expandOpen">26/01/2020</span></div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2 text-center card-common">
                        <div class="widget-extra themed-background bg-success">
                        <h4 class="widget-content-light"><i class="fab fa-paypal"></i><strong>Payment</strong></h4>
                        </div>
                    <div class="widget-extra-full text-success"><span class="h2 animation-expandOpen"> <i class="fas fa-check"></i> </span></div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2 text-center card-common">
                        <div class="widget-extra themed-background bg-warning">
                        <h4 class="widget-content-light"><i class="fa fa-archive"></i><strong>Packaging</strong></h4>
                        </div>
                    <div class="widget-extra-full text-warning"><span class="h2 animation-expandOpen"><i class="fa fa-sync-alt"></i> </span></div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <a href="javascript:void(0)" class="widget widget-hover-effect2 text-center card-common">
                        <div class="widget-extra themed-background bg-clr">
                        <h4 class="widget-content-light"><i class="fa fa-truck"></i><strong>Delivery</strong></h4>
                        </div>
                        <div class="widget-extra-full text-clr"><span class="h2 animation-expandOpen"><i class="fa fa-ellipsis-h"></i></span></div>
                    </a>
                </div>                  
              </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container-fluid">
        <div class="row mb-10">
          <div class="col-xl-12 col-lg-12 col-md-12 ml-auto">
              <div class="row">
                  <div class="col-xl-12 col-12 mb-4">
                      <table class="table table-bordered shadow bg-light text-center">
                          <thead>
                              <tr class="text-muted">
                                  <th>ID</th>
                                  <th class="text-left">Product Name</th>
                                  <th>Stock</th>
                                  <th>QTY</th>
                                  <th>UNIT COST</th>
                                  <th>PRICE</th>
                              </tr>
                          </thead>
                          <tbody>
                            <tbody>
                                <tr>
                                <td class="text-center"><a href="javascript:void(0)"><strong>PID.8715</strong></a></td>
                                <td class="text-left"><a href="javascript:void(0)">Xbox One</a></td>
                                <td class="text-center"><strong>720</strong></td>
                                <td class="text-center"><strong>2</strong></td>
                                <td class="text-right"><strong>$399,00</strong></td>
                                <td class="text-right"><strong>$399,00</strong></td>
                                </tr>
                                <tr>
                                <td class="text-center"><a href="javascript:void(0)"><strong>PID.8726</strong></a></td>
                                <td class="text-left"><a href="javascript:void(0)">Forza Motorsport 5</a></td>
                                <td class="text-center"><strong>368</strong></td>
                                <td class="text-center"><strong>2</strong></td>
                                <td class="text-right"><strong>$59,00</strong></td>
                                <td class="text-right"><strong>$59,00</strong></td>
                                </tr>
                                <tr>
                                <td class="text-center"><a href="javascript:void(0)"><strong>PID.8760</strong></a></td>
                                <td class="text-left"><a href="javascript:void(0)">Playstation 4</a></td>
                                <td class="text-center"><strong>652</strong></td>
                                <td class="text-center"><strong>2</strong></td>
                                <td class="text-right"><strong>$399,00</strong></td>
                                <td class="text-right"><strong>$399,00</strong></td>
                                </tr>
                                <tr>
                                <td class="text-center"><a href="javascript:void(0)"><strong>PID.8728</strong></a></td>
                                <td class="text-left"><a href="javascript:void(0)">Killzone: Shadow Fall</a></td>
                                <td class="text-center"><strong>368</strong></td>
                                <td class="text-center"><strong>1</strong></td>
                                <td class="text-right"><strong>$59,00</strong></td>
                                <td class="text-right"><strong>$59,00</strong></td>
                                </tr>
                                <tr>
                                <td class="text-center"><a href="javascript:void(0)"><strong>PID.8763</strong></a></td>
                                <td class="text-left"><a href="javascript:void(0)">Little Big Planet 3</a></td>
                                <td class="text-center"><strong>150</strong></td>
                                <td class="text-center"><strong>1</strong></td>
                                <td class="text-right"><strong>$59,00</strong></td>
                                <td class="text-right"><strong>$59,00</strong></td>
                                </tr>
                                <tr>
                                <td colspan="5" class="text-right text-uppercase"><strong>Total Price:</strong></td>
                                <td class="text-right"><strong>$975,00</strong></td>
                                </tr>
                                <tr>
                                <td colspan="5" class="text-right text-uppercase"><strong>Total Paid:</strong></td>
                                <td class="text-right"><strong>$975,00</strong></td>
                                </tr>
                                <tr class="active">
                                <td colspan="5" class="text-right text-uppercase"><strong>Total Due:</strong></td>
                                <td class="text-right"><strong>$0,00</strong></td>
                                </tr>
                                <tr class="active">
                                    <td colspan="6" class="text-right"><button class="btn btn-primary">Print</button></td>
                                    </tr>
                          </tbody>
                      </table>
                      
                  </div>
              </div>
          </div>
        </div>
        <div class="row mb-5">
            <div class="col-sm-6 mb-3">
            <div class="block shadow">
            <div class="block-title">
            <h2><i class="fa fa-building-o"></i> <strong>Billing</strong> Address</h2>
            </div>
            <h4><strong>Jonathan Taylor</strong></h4>
            <address>
            Sunset Str 620<br>
            Melbourne<br>
            Australia, 21-842<br><br>
            <i class="fa fa-phone"></i> (999) 852-11111<br>
            <i class="fa fa-envelope-o"></i> <a href="javascript:void(0)">johnathan.taylor@example.com</a>
            </address>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="block shadow">
            <div class="block-title">
            <h2><i class="fa fa-building-o"></i> <strong>Shipping</strong> Address</h2>
            </div>
            <h4><strong>Harry Burke</strong></h4>
            <address>
            Sunset Str 598<br>
            Melbourne<br>
            Australia, 21-852<br><br>
            <i class="fa fa-phone"></i> (999) 852-22222<br>
            <i class="fa fa-envelope-o"></i> <a href="javascript:void(0)">harry.burke@example.com</a>
            </address>
            </div>
            </div>
            </div>
            <div class="block shadow mb-5">
                <div class="block-title">
                <h2><i class="fa fa-file-text-o"></i> <strong>Log</strong> Messages</h2>
                </div>
                <div class="table-responsive">
                <table class="table table-bordered table-vcenter">
                <tbody>
                <tr>
                <td>
                <span class="label label-primary">Order</span>
                </td>
                <td class="text-center">October 17, 2014 - 12:00</td>
                <td><a href="javascript:void(0)">Support</a></td>
                <td class="text-success"><i class="fa fa-fw fa-check"></i> <strong>Order Completed</strong></td>
                </tr>
                <tr>
                <td>
                <span class="label label-primary">Order</span>
                </td>
                <td class="text-center">October 17, 2014 - 10:15</td>
                <td><a href="javascript:void(0)">Support</a></td>
                <td class="text-info"><i class="fa fa-fw fa-info-circle"></i> <strong>Preparing Order</strong></td>
                </tr>
                <tr>
                <td>
                <span class="label label-success">Payment</span>
                </td>
                <td class="text-center">October 16, 2014 - 17:15</td>
                <td><a href="javascript:void(0)">Harry Burke</a></td>
                <td class="text-success"><i class="fa fa-fw fa-check"></i> <strong>Payment Completed</strong></td>
                </tr>
                <tr>
                <td>
                <span class="label label-danger">Email</span>
                </td>
                <td class="text-center">October 16, 2014 - 09:10</td>
                <td><a href="javascript:void(0)">Support</a></td>
                <td class="text-danger"><i class="fa fa-fw fa-exclamation-triangle"></i> <strong>Missing payment details. Email was sent and awaiting for payment before processing</strong></td>
                </tr>
                <tr>
                <td>
                <span class="label label-primary">Order</span>
                </td>
                <td class="text-center">October 15, 2014 - 12:26</td>
                <td><a href="javascript:void(0)">Support</a></td>
                <td><strong>All products are available</strong></td>
                </tr>
                <tr>
                <td>
                <span class="label label-primary">Order</span>
                </td>
                <td class="text-center">October 15, 2014 - 12:15</td>
                <td><a href="javascript:void(0)">Harry Burke</a></td>
                <td><strong>Order Submitted</strong></td>
                </tr>
                </tbody>
                </table>
                </div>
                </div>
    </div>
</section>